{% load static %}
<link rel="stylesheet" href="{% static 'css/base.css' %}" type="text/css"/>
<link rel="stylesheet" href="{% static 'css/grande.css' %}" type="text/css" media="screen and (min-width:981px)" />
<link rel="stylesheet" href="{% static 'css/mediano.css' %}" type="text/css" media="screen and (min-width:481px) and (max-width:980px)" />
<link rel="stylesheet" href="{% static 'css/mini.css'%}" type="text/css" media="screen and (max-width:480px)" />
	<script src="http://code.jquery.com/jquery-latest.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
